<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title th:text="${title}"></title>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{#}">Google Events Application</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse  d-flex justify-content-evenly" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/calendar}">Calendar Events</a>
                </li>
                <!--<li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}">Logout <span class="sr-only">(current)</span></a>
                </li>-->
            </ul>
            <form class="form-inline my-2 my-lg-0 d-inline-flex">
                <a class="nav-link btn btn-outline-primary" th:href="@{/logout}">Logout <span
                        class="sr-only">(current user)</span></a>
                <!--                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>-->
            </form>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row text-center">
        <div class="offset-sm-1 col-sm-10">

            <div class="mt-5 my-auto">
                <div th:utext="${message}"></div>
                <h1 th:text="|Welcome, ${name}|"></h1>
                <h2 style="text-align:center;padding-bottom:20px;" th:text="${title}"></h2>
                <table class="table table-responsive table-striped table-hover table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Event Start and End Time</th>
                        <th scope="col">Event Title</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr scope="row" th:each="calendarObj: ${calendarObjs}">
                        <td th:text="${calendarObj.startEnd}" class="td1"></td>
                        <td th:text="${calendarObj.title}" class="td2"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="float-end">
                 <form th:action="@{/persist}" method="post">
                     <input class="btn btn-primary btn-block" type="Submit" name="Submit" value="Persist Events">
                 </form>
             </div>-->
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>
</html>